h1{
    padding: 10px 100px 10px 0px;
    margin: 0;
    background-color: rgb(27, 48, 141);
    border-bottom: 3px solid #5b8eff;
    color: white;
    text-align: center;
}

h2{
    margin: 10px 500px;
    border-radius: 10px;
    text-align: center;
    border: 1.5px solid #5b8eff;
    padding: 5px 0px;
    background-color: rgb(27, 48, 141);
    color: white;
    font-weight: normal;
}

section{
    margin: 40px 0;
}

#buttons_section{
    text-align: center;
}

table{
    border-collapse: collapse;
    width: 80%;
    color: black;
    margin: 0 10%;
    background-color: rgb(241, 241, 241);
}
table, tr, td {
    border: 1px solid black;
    font-size: 20px;
    table-layout: fixed;
}

td, tr{
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 40%;
}

tr:hover{
    background-color: rgb(214, 214, 214);
}

.job_info{
    text-align: center;
}


button{
    background-color:  rgb(27, 48, 141);
    border: 1px black solid;
    color: white;
    font-size: 20px;
    padding: 12px 40px;
    width: 300px;
    transition-duration: 0.4s;
    font-family: 'Gentium Book Basic', serif;
}

button:hover{
    background-color: rgb(0, 146, 188);
    color: rgb(233, 237, 255);
}

button:focus{
    outline: 0;
}

button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

#progress-bar-section{
    text-align: center;
}

progress{
    -webkit-appearance: none;
    appearance: none;

    width: 800px;
    height: 30px;
    padding: auto;
}

progress::-webkit-progress-bar{
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value{
    background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, rgb(4, 0, 255), rgb(135, 133, 255));

    border-radius: 5px; 
    background-size: 35px 10px, 100% 100%, 100% 100%;
}

#logoEuris{
    width: 100px;
    height: 40px;
    float:left;
    margin-top: 10px;
    margin-left: 10px;
}